# TODO(eslint-10-followup): Remove this once @typescript-eslint and eslint-plugin-react
# publish versions with official ESLint 10 peer support and the repo can install without ERESOLVE.
legacy-peer-deps=true
